<nav>
    <div class="site-title">
        <a href="/">Message Board</a>
        <p>Mini Message Board</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/messages/create">New Message</a></li>
    </ul>
</nav>